/* @font-face {
  font-family: "fontGame";
  src: url("../font/Pony.ttf");
} */

.bookingMovie {
  font-family: "fontGame";
}

.ghe,
.false {
  border: 3px solid red;
  width: 45px;
  height: 35px;
  font-size: 12px;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  background-color: white;
}

.rowNumber {
  /* font-size: 25px; */
  width: 45px;
  height: 35px;
  background: none;
  border: none;
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: 30px;
  color: yellow;
}
.firstChar {
  color: red;
  font-size: 25px;
  margin: 25px;
}
.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.chon-ghe {
  list-style: none;
}

.screen {
  border-bottom: 50px solid rgb(255, 159, 95);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 100;
  width: 90%;
  filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
  font-size: 25px;
  color: #fff;
  margin-left: 40px;
}

.gheDuocChon,
.true {
  border: 3px solid red;

  background: red;
  color: #000;

  cursor: no-drop !important;
  border-radius: 5px;
  width: 45px;
  height: 35px;
}

.gheDangChon,
.gheVip {
  background: rgb(109, 238, 109);
  border: 3px solid rgb(109, 238, 109);
  color: #000;

  cursor: pointer;
  border-radius: 5px;
  width: 45px;
  height: 35px;
}
.gheChuaChon {
  background: white;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  width: 45px;
  height: 35px;
  border: solid 3px red;
}
